* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}
input,
textarea,
select {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: #000;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "GT-Eesti", Arial;
    font-weight: 500;
    color: #000;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
}
.bg {
    background: #e9e9e949;
}
@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
::placeholder {
    color: #9b9b9b;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #9b9b9b;
}

::-ms-input-placeholder {
    color: #9b9b9b;
}

/* home section  */

#home {
    padding: 48px 0 0;
}
#home header {
    align-items: center;
}
/* #home header h1.left{} */
#home header h1.left a {
    width: 100%;
    display: block;
}
#home header h1.left a img {
    width: 100%;
    display: block;
}
/* #home header nav.middle{} */
#home header nav.middle ul {
    align-items: center;
}
#home header nav.middle ul li {
    margin-right: 24px;
}
#home header nav.middle ul li:last-child {
    margin-right: 0;
}
#home header nav.middle ul li a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
/* #home header nav.right{} */
#home header nav.right ul {
    align-items: center;
}
#home header nav.right ul li {
    margin-right: 24px;
}
#home header nav.right ul li:last-child {
    margin-right: 0;
}
#home header nav.right ul li a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
    font-size: 16px;
}
#home header nav.right ul li a.btn {
    padding: 12px 24px;
    border-radius: 10px;
    background: #ffd9b2a1;
    color: #ff8560;
}

/* spotlight section  */

#home #spotlight {
    padding: 120px 0 50px;
    background: url("../images/home-hero.svg") no-repeat center center;
    background-size: 700px;
    background-position: right -10px top 60px;
}
#home #spotlight div.content {
    width: 40%;
    margin-left: 74px;
}
#home #spotlight div.content h1 {
    font-family: "GT-Eesti";
    font-weight: 800;
    font-size: 54px;
    margin-bottom: 32px;
}
#home #spotlight div.content p {
    width: 80%;
    font-family: "GT-Eesti";
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 36px;
}
#home #spotlight div.content form {
    margin-bottom: 24px;
}
#home #spotlight div.content form input[type="email"] {
    padding: 19px 90px 19px 12px;
    border-radius: 14px;
    font-size: 15px;
    border: 1px solid #000;
}
#home #spotlight div.content form button[type="submit"] {
    padding: 20px 18px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    background: #2e2bff;
    border: 1px solid #2e2bff;
    color: #fff;
    position: relative;
    left: -36px;
    /* top: 1px; */
}

/* creators section  */

#creators {
    padding: 24px 0;
    text-align: center;
    display: block;
}
#creators h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
}
#creators ul {
    justify-content: space-around;
    align-items: center;
}
#creators ul li {
    display: block;
}
#creators ul li a {
    display: block;
    width: 100%;
}
#creators ul li a img {
    display: block;
    width: 100%;
}

#content {
    padding: 60px 0 0;
}
#content section.feature {
    padding: 150px 0;
    padding-right: 30px;
}
/* #content section.feature .wrapper{} */
#content section.feature div.left {
    width: 50%;
    display: block;
}
#content section.feature div.left img {
    display: inline-block;
    width: 100%;
}

#content section.feature div.right {
    width: 50%;
    margin-left: 100px;
}
#content section.feature:first-child div.right {
    width: 50%;
}
#content section.feature:nth-child(2) div.right {
    margin-left: 0;
    margin-right: 100px;
}
/* #content section.feature div.right div.top{} */
#content section.feature div.right div.top span.icon {
    display: inline-block;
    padding: 16px;
    border-radius: 25px;
    background: #ffd82a;
    margin-bottom: 24px;
}
#content section.feature div.right div.top span.icon img {
    display: inline-block;
    width: 100%;
}

#content section.feature div.right div.top h3 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 24px;
}
#content section.feature div.right div.top p {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 24px;
}
#content section.feature div.right div.top a.btn {
    display: inline-block;
    padding: 12px 24px;
    background: #2e2bff;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 24px;
}
#content section.feature div.right div.review {
    padding-top: 24px;
}
#content section.feature div.right div.review blockquote {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #a9a9a9;
}
#content section.feature div.right div.review span {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #6b6b6b;
    display: block;
    margin-bottom: 24px;
}
#content section.feature div.right div.review span small {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 24px;
    text-transform: capitalize;
    color: #a9a9a9;
}
#content section.feature div.right div.review img {
    display: block;
    height: 25px;
}

/* reviews section  */

#reviews {
    padding: 60px 0 80px;
}
/* #reviews section.wrapper{} */
#reviews section.top {
    width: 50%;
    margin-bottom: 75px;
}
#reviews section.top h3 {
    font-size: 56px;
    font-weight: 700;
}
/* #reviews section.bottom{}
#reviews section.bottom ul{} */
#reviews section.bottom ul li {
    width: 32%;
}
#reviews section.bottom ul li div.top {
    position: relative;
    background: url("../images/review1.jpg") no-repeat;
    background-size: 400px;
    border-radius: 10px;
    height: 330px;
    margin-bottom: 24px;
}
#reviews section.bottom ul li div.top span.play {
    background: #fff;
    padding: 11px 16px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    top: 16px;
}
#reviews section.bottom ul li div.top span.play img {
    width: 100%;
}
#reviews section.bottom ul li div.top div.logo {
    background: #fff;
    padding: 10px 50px;
    border-radius: 15px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
#reviews section.bottom ul li div.top div.logo img {
    width: 100%;
    display: block;
}
#reviews section.bottom ul li h4 {
    font-size: 22px;
    font-weight: 700;
}

/* about section   */

#about {
    padding: 60px 0 100px;
}
/* #about section.wrapper{}
#about ul{} */
#about ul li {
    width: 47%;
}
#about ul li div.top {
    width: 100%;
    height: 465px;
    background: url("../images/Chase-Kroll-920x760normal-1.png") no-repeat
        center center;
    background-size: 564px;
    margin-bottom: 40px;
}
#about ul li:last-child div.top {
    background: url("../images/Ken-Gibs-920x760normal-1.png") no-repeat center
        center;
    background-size: 564px;
    /* position: relative; */
}
#about ul li div.top div.logo {
    display: block;
    height: 60px;
    width: 150px;
    border-radius: 15px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -386px;
    left: 21px;
}
#about ul li div.top div.logo img {
    display: inline-block;
    width: 100px;
    height: 40px;
}
/* #about ul li div.bottom{} */
#about ul li div.bottom blockquote {
    width: 95%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
}
#about ul li div.bottom h6 {
    font-size: 18px;
    font-weight: 600;
    /* margin-bottom: 12px; */
}
#about ul li div.bottom span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #6b6b6b;
    margin: 5px 0;
}
#about ul li div.bottom small {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}

/* feature section  */

#features {
    padding: 100px 0;
}
/* #features section.wrapper{} */
#features section.top {
    text-align: center;
    margin-bottom: 80px;
}
#features section.top h3 {
    font-size: 50px;
    font-weight: 700;
    width: 60%;
    margin: 0 auto;
}
/* #features section.content{} */
#features section.content ul {
    flex-wrap: wrap;
}
#features section.content ul li {
    width: 32%;
    padding: 100px 30px;
    text-align: center;
}
#features section.content ul li:nth-child(2),
#features section.content ul li:nth-child(5) {
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
}
#features section.content ul li a {
    display: block;
}
#features section.content ul li a img {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}
#features section.content ul li h3 {
    margin-bottom: 16px;
}
#features section.content ul li h3 a {
    font-size: 32px;
    font-weight: 700;
}
#features section.content ul li p {
    font-size: 20px;
    font-weight: 600;
}
#features section.bottom {
    padding: 40px 0;
}
#features section.bottom section.content {
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    background: #c6dfff;
    border-radius: 10px;
    position: relative;
}
#features section.bottom section.content span.icon {
    background: #fff;
    padding: 24px;
    border-radius: 50%;
    position: absolute;
    left: 67px;
    top: -36px;
    box-shadow: -1px 1px 65px -18px rgba(0, 0, 0, 0.78);
}
#features section.bottom section.content span.icon img {
    display: block;
    width: 100%;
}
#features section.bottom section.content div.element {
    align-items: center;
}
#features section.bottom section.content div.element p {
    width: 70%;
    font-size: 20px;
    font-weight: 600;
}
#features section.bottom section.content div.element a.btn {
    font-size: 18px;
    font-weight: 600;
    padding: 21px 33px;
    background: #2e2bff;
    color: #fff;
    border-radius: 10px;
}

/* products section  */

#products {
    padding: 60px 0 40px;
}
/* #products section.wrapper{} */
#products section.top {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
#products section.top h3 {
    font-size: 49px;
    font-weight: 700;
}
#products ul {
    margin-bottom: 200px;
}
#products ul li {
    width: 32%;
    height: 706px;
    padding: 32px 16px;
    background: #c6dfff;
    border-radius: 15px;
    text-align: center;
    position: relative;
}
/* #products ul li.one{} */
#products ul li.two {
    background: #fff4d7;
}
#products ul li.three {
    background: #ffc9b7b8;
}
#products ul li div.logo {
    display: inline-block;
    padding: 24px;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 32px;
}
#products ul li div.logo img {
    display: block;
    width: 35px;
}
#products ul li h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 18px;
}
#products ul li p {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}
#products ul li a.btn {
    font-size: 22px;
    font-weight: 600;
    padding: 12px 24px;
    color: #fff;
    background: #2e2bff;
    border-radius: 15px;
    margin-bottom: 24px;
}
#products ul li img.hero {
    display: block;
    width: 100%;
    position: absolute;
    left: 9px;
    top: 423px;
}
#products ul li.three a.btn {
    background: #ff784b;
}
#products ul li.two a.btn {
    background: #fcdc50;
}

/* blog section  */

#blog {
    display: block;
    padding: 80px 0 100px;
}
/* #blog section.wrapper{} */
#blog section.top {
    width: 50%;
    margin-bottom: 60px;
}
#blog section.top h3 {
    font-size: 54px;
    font-weight: 700;
}
#blog ul {
    margin-bottom: 80px;
}
#blog ul li {
    width: 32%;
    padding: 12px;
}
#blog ul li img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}
#blog ul li span.label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
}
#blog ul li:first-child span.label {
    color: #2e2bff;
}
#blog ul li h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
}
#blog ul li a.label {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}
#blog div.wrapper {
    text-align: center;
}
#blog div.wrapper a.btn {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    padding: 24px 48px;
    background: #2e2bff;
    color: #fff;
    border-radius: 10px;
}

/* contactus section  */

#contact-us {
    padding: 100px 0;
    background: #000;
    color: #fff;
}
/* #contact-us section.wrapper{} */
#contact-us div.left {
    width: 50%;
}
#contact-us div.left > h3 {
    width: 60%;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 32px;
}
#contact-us div.left > p {
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    color: #9b9b9b;
}
#contact-us div.left span.line {
    display: block;
    width: 40%;
    height: 2px;
    background-image: linear-gradient(
        to right,
        rgb(251, 250, 250) 33%,
        rgba(255, 7, 7, 0) 0%
    );
    background-position: bottom;
    background-size: 3px 2px;
    background-repeat: repeat-x;
    margin: 32px 0;
}
/* #contact-us div.left div.testimonials {} */
#contact-us div.left div.testimonials h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}
/* #contact-us div.left div.testimonials div.content {
} */
#contact-us div.left div.testimonials div.content blockquote {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 24px;
    color: #b9b9b9;
}
#contact-us div.left div.testimonials div.content h3 {
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
#contact-us div.left div.testimonials div.content span.role {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #6b6b6b;
    display: block;
    margin-bottom: 24px;
}
#contact-us div.left div.testimonials ul.people {
    width: 44%;
    align-items: center;
}
/* #contact-us div.left div.testimonials ul.people li {} */
#contact-us div.left div.testimonials ul.people li.active {
    border-radius: 50%;
    padding: 5px;
    margin-top: -10px;
    box-sizing: none;
    border: 2px solid #ff784b !important;
}
#contact-us div.left div.testimonials ul.people li img {
    display: block;
    width: 55px;
    border-radius: 50%;
}
/* #contact-us div.left div.companies {
} */
#contact-us div.left div.companies ul {
    width: 70%;
    margin-top: 60px;
    align-items: center;
}
/* #contact-us div.left div.companies ul li {
} */
#contact-us div.left div.companies ul li img {
    display: block;
    width: 100%;
}

#contact-us div.right {
    width: 50%;
    color: #000;
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    height: min-content;
}
#contact-us div.right h4 {
    font-size: 32px;
    font-weight: 700;
}
/* #contact-us div.right form {} */
#contact-us div.right section.inputs {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 20px;
    margin: 32px 0;
}
#contact-us div.right form div.one-by-two {
    width: 100%;
    color: #9b9b9b;
}
#contact-us div.right form div.one-by-two input {
    border: 1px solid #9b9b9b;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
    font-size: 20px;
}
#contact-us div.right form div.one-by-two select {
    border: 1px solid #9b9b9b;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    font-size: 20px;
}
#contact-us div.right form div.one-by-two select option {
    color: #6b6b6b;
}
#contact-us div.right form div.full {
    display: flex;
}
#contact-us div.right form div.full input[type="checkbox"] {
    margin: 20px;
    margin-top: 5px;
    transform: scale(2);
}
#contact-us div.right form div.full p {
    display: inline-block;
    color: #6b6b6b;
    margin-bottom: 32px;
    font-size: 16px;
}
#contact-us div.right form div.full p a {
    color: #6b6b6b;
    text-decoration: underline;
}
#contact-us div.right form div.full input[type="submit"] {
    display: block;
    width: 100%;
    background: #2e2bff;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding: 24px 0;
    border-radius: 10px;
}

/* footer section  */

footer {
    padding: 100px 0;
}
/* footer section.wrapper{} */
footer section.top {
    margin-bottom: 40px;
}
footer section.top div.item {
    margin-right: 24px;
}
footer section.top div.item:last-child {
    margin-right: 0;
}
footer section.top div.item.large {
    width: 31%;
}
footer section.top div.item.large h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
}
/* footer section.top div.item.large div.social{}
footer section.top div.item.large div.social ul{} */
footer section.top div.item.large div.social ul li {
    padding: 19px;
    background: #c0c0c0;
    border-radius: 26px;
}
footer section.top div.item.large div.social ul li img {
    display: block;
    width: 25px;
}
footer section.top div.item.large div.social ul li img svg {
    fill: black;
}
footer section.top div.item h5 {
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 16px;
}
/* footer section.top div.item ul {
} */
footer section.top div.item ul li {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
footer section.top div.item a.bold {
    font-size: 19px;
    font-weight: 700;
}
footer section.top div.item ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
footer section.top > div.item > ul li a img {
    display: inline-block;
    width: 27px;
    margin-right: 10px;
}
footer section.top div.item ul li a span {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
footer section.bottom {
}
footer section.bottom div.title {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
}
footer section.bottom div.title img {
    margin-right: 15px;
    transform: scale(1.5);
}
footer section.bottom div.title span {
    font-size: 21px;
    font-weight: 700;
}
/* footer section.bottom div.bottom{} */
footer section.bottom div.bottom ul {
    justify-content: flex-start;
    align-items: center;
}
footer section.bottom div.bottom ul li {
    margin-right: 24px;
}
footer section.bottom div.bottom ul li a {
    font-size: 20px;
    font-weight: 500;
}

/* media queries  */

@media all and (max-width: 1280px) {
    #home header nav.middle ul {
        display: none;
    }
    #home #spotlight {
        background-size: 450px;
        background-position: right -6px top 106px;
    }
    #home #spotlight div.content {
        width: 55%;
        margin-left: 50px;
    }
    #contact-us div.left div.testimonials{
        width: 90%;
    }
    #contact-us div.right{
        padding: 45px;
    }
    #contact-us div.right form div.one-by-two input{
        padding: 15px;
    }
    #contact-us div.right form div.one-by-two select{
        padding: 15px;
    }
    #contact-us div.left div.testimonials ul.people{
        width: 70%;
    }
    #contact-us div.left div.companies ul{
        width: 85%;
    }
    footer section.top div.item.large div.social ul li img{
        width: 20px;
    }
    footer section.top div.item.large div.social ul li{
        padding: 12px;
    }
}
@media all and (max-width: 980px) {
    #home #spotlight{
        background: none;
    }
    #home #spotlight div.content{
        width: 90%;
        margin-left: 50px;
    }
    #content section.feature{
        padding: 100px 0;
        flex-wrap: wrap;
    }
    #content section.feature div.left,
    #content section.feature:first-child div.right,
    #content section.feature:nth-child(2) div.right,
    #content section.feature:last-child div.right{
        width: 100%;
    }
    #content section.feature:first-child div.right{
        padding: 32px;
    }
    #content section.feature div.right{
        width: 100%;
        margin: 0;
    }
    #content section.feature.bg section.wrapper{
        flex-wrap: wrap-reverse;
    }
    #content section.feature section.wrapper{
        flex-wrap: wrap;
    }
    #reviews section.top{
        width: 100%;
    }
    #reviews section.bottom ul{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #reviews section.bottom ul li{
        width: 47%;
        margin-bottom: 40px;
    }
    #reviews section.bottom ul li:last-child{
        margin-bottom: 0;
    }
    #about ul li div.bottom blockquote{
        font-size: 20px;
    }
    #features section.top h3{
        width: 100%;
    }
    #features section.content ul li:nth-child(2),
    #features section.content ul li:nth-child(5){
        border: 0 none;
    }
    #features section.content ul li{
        width: 48%;
    }
    #features section.content ul li:nth-child(odd){
        border-right: 1px dotted #000;
    }
    #features section.bottom section.content{
        width: 100%;
    }
    #products section.top{
        width: 100%;
    }
    #products ul {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 0;
    }
    #products ul li{
        width: 47%;
        margin-bottom: 100px;
    }
    #products ul li:last-child{
        margin-bottom: 0;
    }
    #products ul li p{
        width: 100%;
    }
    #products ul li img.hero{
        top: 410px;
    }
    #blog section.top{
        width: 100%;
    }
    #blog section.top h3{
        font-size: 48px;
    }
    #blog ul li h2{
        font-size: 20px;
    }
    #contact-us section.wrapper{
        flex-wrap: wrap;
    }
    #contact-us div.right,
    #contact-us div.left{
        width: 100%;
    }
    #contact-us div.left{
        margin-bottom: 40px;
    }
    footer section.top{
        flex-wrap: wrap;
    }
    footer section.top div.item.large{
        width: 100%;
    }
    footer section.top div.item.large div.social{
        width: 50%;
        margin-bottom: 32px;
    }

    /* finished  */
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 640px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 360px) {
}
@media all and (max-width: 320px) {
}
